<h2><strong>Category list</strong></h2>

<div class='grid'>
  <% @lists.each do |list| %>
    <div
      class='category-card'
      style="background-image: linear-gradient(rgba(0,0,0,0.3),
             rgba(0,0,0,0.3)),
             url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')"
    >
      <h3><%= link_to list.name, list_path(list), class: 'text-color' %></h3>
    </div>
  <% end %>
</div>

<br>

<p><%= link_to 'Add a new list', new_list_path %></p>

<hr><br>
<h2><strong>Movie list</strong></h2>
<br>

<div class='grid'>
  <% @movies.each do |movie| %>
    <div class='movie-card'>
      <h3><%= movie.title %>  (<%= movie.rating %>/10)</h3>
      <p><%= image_tag "#{movie.poster_url}" %></p>
      <br><br><br>
    </div>
    <% end %>
</div>
