<div class='banner'>
  <div class='container'>
    <h1><strong>Watch list</strong></h1>
    <h2><%= @list.name %> (<%= Bookmark.count %>)</h2>
    </div>
</div>



<% @bookmarks.each do |bookmark| %>
  <div>
    <h2><%= bookmark.movie.title %> (<%= bookmark.movie.rating %>/10)</h2>
    <%= image_tag "#{bookmark.movie.poster_url}" %>
    <p>Comment : "<%= bookmark.comment %>"  <%= link_to 'Delete bookmark', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %></p>
  </div>
<% end %>


<h4><%= link_to 'Add a comment', new_list_bookmark_path(@list) %> |
<%= link_to 'Back to list', lists_path %></h4>
